@use 'src/themes/variables' as *;

.ChatContent {
  height: 100%;

  &.empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color-caption;
  }

  &__list {
    height: 100%;
    max-height: 620px;
    overflow: auto;
    display: flex;
    gap: 4px;
    flex-direction: column-reverse;
    padding-right: 20px;
  }

  &__loadMore {
    margin: 0 auto;
  }
}
